html,
body,
.cover {
    height:100%;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url("Training.jpg") no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
@media screen and (max-width: 500px) { 
    div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
    html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
    #bgvid { display: none; }
}


.cover {
    display: table;
    width: 100%;
    box-shadow: inset 0 0 100px #000;
}
.cover-text{
    text-align: center;
    color:white;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20%;
}
.cover-text h1{
    margin:0;
    font-size: 60px;
    letter-spacing: -3px;
    font-family: 'Josefin Sans', sans-serif;
}
.pageperso .navbar-inverse{
    background-color: #000000;
    background-image: none;
}
.navbar-inverse .navbar-brand{
    color:white;
    font-family: 'Lustria', serif;

}
.navbar-inverse .navbar-brand:hover{
    color:#66a3ff;
}

.navbar-inverse .navbar-toggle {
    border: none;

}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: white ;

}
.navbar-inverse .navbar-nav>li>a{
    color: white;
    font-family: 'Lustria', serif;

}
.navbar-inverse .navbar-nav>li>a:hover{
    color: #66a3ff;
}
p{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 18px;

}
#Aboutme {
    font-size: 18px;
}
.lead a{
    color: #66a3ff;
    text-decoration: underline;
    font-style: italic;
}
.lead a:hover{color:white;}

h2{
    color: white;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
}
h2::first-letter{
    border-bottom: solid 2px #66a3ff;
}
#About {
    background-color: #1a1a1a;;
    background-size: cover;
    padding: 15px 0 20px 0;
}
#Skills {
    padding: 15px 0 20px 0;
}
img {
    height: 300px;
    width: 300px;
    margin-bottom: 30px;
}
#Aboutme{
    margin-top: 40px;
}
#Skills p {
    color:black;
    margin-top: 50px;
    text-align: center;
}
#Skills h2{
    color: black;
}
#Work{
    padding: 15px 0 20px 0;
}
#Work h2{
    padding: 0 0 50px 0;
    color:black;
}
a {
    position: relative;
    display: inline-block;
}

a span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1em;
    margin-left: -50%;
    width: 100%;
    height: 2em;
    color: #f90;
    background-color: rgba(0,0,0,0.5);
}
#Contact h2{
    padding: 0 0 50px 0;
    color:black;
}
#Contact p {
    color: black;
}

#map {
    height: 400px;
    width: 100%;
}
footer{
    background-color: #000000; 
    color: #fff;
    padding: 70px 0 70px 0;
    z-index: 1;
}
.glyphicon-chevron-up{color:white;}
.glyphicon-chevron-up:hover{color:#66a3ff;}
.glyphicon-chevron-up:before{font-size:30px;}

p #link{color:white;}
p #link:hover{color:#66a3ff;}

p #heart {color: red;}

#iconFa{
    font-size: 30px;
}
#iconFa:hover{
color: aqua;}

.fa-facebook-f:before, .fa-facebook:before, .fa-free-code-camp:before, .fa-github-alt:before, .fa-linkedin:before, .fa-codepen:before{
    color:white; 
    padding: 0 10px 0 10px;
}
#Skills, #Contact, #Work{
    background-color: white;
}